/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

html {
    font-family: 'Baskervville', serif;
    scroll-behavior: smooth;
}

/*===== HEADER =====*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 4px 25px -22px #000;
    z-index: 10;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: #6f4e37;
}

.menu {
    height: 80px;
}

.menu nav {
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu nav ul li a{
    text-decoration: none;
    color: #777;
    font-size: 18px;
}

.menu nav ul li a:hover {
    color: #6f4e37;
    transition: color 300ms;
}

.menu nav ul li .text-menu-selected{
    color: #6f4e37;
}


#icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #fafafafa;
    border-radius: 100%;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#icon-menu:hover {
    background: #f2f2f2;
}

.menu nav ul li a i {
    display: none;
}


/*=====  BANNER =====*/

.container_cover {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container_cover:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(43.5, 30.6, 21.5, .7);
    position: absolute;
    top: 0;
    left: 0;
}

.container_info-cover {
    max-width: 800px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 10;
}

.container_info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}


.container_info-cover p {
    font-size: 30px;
    font-weight: 300;
    color: #efefef;
    font-family: 'Cedarville Cursive', cursive;
}

/*===== Contenedor - contenido del articulo =====*/

.container_content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.container_content h2 {
    margin-top: 20px;
}

article {
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px #000;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background: #6f4e37;
    top: 0;
    left: 0;
}

article h1 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p {
    margin-top: 20px;
    font-size: 18px;
    color: #777;
}

article img {
    width: 100%;
    margin: 20px 0px;
}

/*===== Aside de los articulos relacionados =====*/

.container_aside aside {
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px #000;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container_aside aside img {
    width: 100%;
}

.container_aside aside h2,
.container_aside aside p {
    margin-top: 20px;
    padding: 0px 20px;
}

.container_aside aside button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #6f4e37;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.container_aside aside button:hover {
    opacity: 0.9;
}

/*===== FOOTER =====*/
.container_footer {
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}

.container_footer footer {
    max-width: 1200px;
    margin: auto;
}

.container_footer footer .logo_footer {
    text-align: center;
    font-size: 20px;
}

.container_footer footer .logo_footer b {
    color: #6f4e37;
}

.container_footer footer .redes_footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container_footer footer .redes_footer a {
    text-decoration: none;
}

.container_footer footer .redes_footer .icon-redes-footer {
    font-style: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes_footer .fa-facebook-f:hover {
    background: #41579A;
    color: #fff;
}



.container_footer footer hr {
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #efefef;
} 

.container_footer h4 {
    text-align: center;
    margin-top: 20px;
    color: #8e8e8e;
    font-weight: 500;
}

.container_footer a {
    text-decoration: none;
    color: #000;
}


/*===== Responsive Design - Adaptable a dispositivos moviles =====*/

@media screen and (max-width: 1220px) {

    .header-content,
    .container_content,
    .container_footer footer {
        max-width: 1000px;
        padding: 0px 20px;
    }
}

@media screen and (max-width: 1020px) {

    .container_content {
        width: 100%;
        flex-direction: column;
    }

    article {
        box-shadow: 0 0 0 0;
    }

    .container_aside {
        display: flex;
        justify-content: center;
    }

    .container_aside aside {
        max-width: 300px;
        margin: 10px;
    }
}

@media screen and (max-width: 800px) {

    body {
        overflow-x: hidden;
    }

    .container_all {
        transition: all 300ms cubic-bezier(1,0,0,1);;
    }

    .move-container_all {
        transform: translateX(300px);
    }

    .menu {
        width: 0;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-300px);
        box-shadow: 10px 0 20px -25px #000;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-menu {
        width: 300px;
        transform: translateX(0);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li {
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before {
        width: 0;
    }

    .menu nav ul li a {
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #6f4e37;
    }   

    #icon-menu {
        display: flex;
    }

    .container_aside {
        flex-wrap: wrap;
    }

}